//colors


// Global fonts
$assets-fonts-path: unquote("../fonts");
$font-name-maax:    maax;
$font-family-base:  $font-name-maax, Helvetica, sans-serif;

$font-size-base:            1rem; // ~16px
$font-size-base-desired:    16px;
$small-font-size:           0.74rem; // ~11px
$line-height-base:          1.5;
$h1-font-size:              3.125rem; // ~50px
$h2-font-size:              2.2rem; // ~32px
$h3-font-size:              1.5625rem; // ~25px
$h4-font-size:              1.3125rem; // ~21px
$h5-font-size:              0.9375rem; // ~15px
$h6-font-size:              0.8125rem; // ~13px

$font-weight-light:     300;
$font-weight-normal:    400;
$font-weight-medium:    500;
$font-weight-semibold:  600;
$font-weight-bold:      700;
$font-weight-bolder:    900;

//grid
$enable-grid-classes: false;
